/*style.css */
body { 
	margin: 0; 
	padding: 0; 
	height: 100%; 
	width: 100%; 
	margin: 0; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	background-color: white; 
} 

body h1 { 
	font-family: 'Roboto', sans-serif; 
} 

body h2 { 
	color: black; 
	font-family: 'Roboto', sans-serif; 
} 

#canvas { 
	border: 1px solid black; 
	padding: 15px; 
	border-radius: 20px; 
	backdrop-filter: blur(3px); 
} 

#canvas1 { 
	border: 1px solid rgb(73, 1, 1); 
	border-radius: 20px; 
	margin-top: 15px; 
	display: none; 
	backdrop-filter: blur(3px); 
} 

/* Styling for the name input section */
#startScreen { 
	text-align: center; 
	margin: auto; 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	align-items: center; 
	height: 800px; 
	width: 600px; 
} 

label { 
	display: block; 
	margin-bottom: 10px; 
	font-size: 20px; 
} 

input { 
	font-size: 16px; 
	border-radius: 5px; 
	width: 200px; 
	margin-bottom: 20px; 
} 

button { 
	padding: 10px; 
	background-color: rgb(37, 127, 37); 
	color: black; 
	font-size: 10px; 
	text-transform: uppercase; 
	border-radius: 5px; 
	cursor: pointer; 
	transition: background-color 0.3s ease; 
} 

/* Additional styling for the game screen */
#gameScreen { 
	display: none; 
}
